<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>BGG Stats</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .card {
            margin: 3px;
            border-width: 2px;
        }
    </style>
  </head>
  <body style="background: #d2d2d2">
    <div class="container text-center" style="padding-top: 10px;">
        <div class="row">
            <div class="col card">
                <h1>Plays By Month</h1>
                <canvas style="max-height: 800px" id="playsByMonth"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col card">
                <h1>Plays By Weekday</h1>
                <canvas style="max-height: 800px" id="playsByWeekday"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col card">
                <h1>Top 10 Games</h1>
                <table class="table table-spotted">
                    <tr>
                        <th>Game</th>
                        <th>Plays</th>
                        <th>Win Rate</th>
                    </tr>
                    {{range $game := .topTenGamesByPlays}}
                    <tr>
                        <td>{{$game.Name}}</td>
                        <td>{{$game.Plays}}</td>
                        <td>{{$game.WinPercentage}}%</td>
                    </tr>
                    {{end}}
                </table>
                <h3 style="padding: 5px;">Overall win percentage: {{ .winPercentage}}%</h3>
            </div>
        </div>
        {{ if .playerNames }}
        <div class="row">
            <div class="col card">
                <h1>Plays By Player</h1>
                <canvas style="max-height: 800px" id="playsByPlayer"></canvas>
            </div>
        </div>
        {{ end }}
        <div class="row">
            <div class="col card">
                <h1>Percent Plays By Game</h1>
                <canvas style="max-height: 800px" id="gamesByPercentage"></canvas>
            </div>
        </div>
    </div>

    <script>
        const playsByMonthCtx = document.getElementById('playsByMonth');
        new Chart(playsByMonthCtx, {
            type: 'bar',
            data: {
                labels: {{ .months }},
                datasets: [{
                    label: 'Plays By Month',
                    data: {{ .playsByMonth }},
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const playsByWeekdayCtx = document.getElementById('playsByWeekday');
        new Chart(playsByWeekdayCtx, {
            type: 'bar',
            data: {
                labels: {{ .weekdays }},
                datasets: [{
                    label: 'Plays By Weekday',
                    data: {{ .playsByWeekday }},
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const gamesByPercentageCtx = document.getElementById('gamesByPercentage');
        new Chart(gamesByPercentageCtx, {
            type: 'pie',
            data: {
                labels: {{ .gameNames }},
                datasets: [{
                    label: ' % plays',
                    data: {{ .gamePercentages }},
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const playsByPlayerCtx = document.getElementById('playsByPlayer');
        new Chart(playsByPlayerCtx, {
            type: 'pie',
            data: {
                labels: {{ .playerNames }},
                datasets: [{
                    label: ' plays by player',
                    data: {{ .playerPlays }},
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
  </body>
</html>
   