<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>BGG Stats</title>
  </head>
  <body>
    <div style="width:1200px;height:600px">
        <canvas id="playsByMonth"></canvas>
    </div>
    <div>
        <h1>Top 10 Games</h1>
        <table>
            <tr>
                <th>Game</th>
                <th>Plays</th>
            </tr>
            {{range $game := .topTenGamesByPlays}}
            <tr>
                <td>{{$game.Name}}</td>
                <td>{{$game.Plays}}</td>
            </tr>
            {{end}}
        </table>
        <div></div>
    </div>
    <div style="margin-top:20px;width:1600px;height:800px">
        <canvas id="gamesByPercentage"></canvas>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const gamesByMonthCtx = document.getElementById('playsByMonth');
    
        new Chart(gamesByMonthCtx, {
            type: 'bar',
            data: {
                labels: {{ .months }},
                datasets: [{
                    label: 'Plays By Month',
                    data: {{ .playsByMonth }},
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const gamesByPercentageCtx = document.getElementById('gamesByPercentage');
    
        new Chart(gamesByPercentageCtx, {
            type: 'pie',
            data: {
                labels: {{ .gameNames }},
                datasets: [{
                    label: ' % plays',
                    data: {{ .gamePercentages }},
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
  </body>
</html>
   